<div>
  <label>Nodes</label>
  <span>Total {{systemSummary.totalNodes}}</span>|<span>Used {{systemSummary.usedNodes}}</span>

  <dx-circular-gauge id="gauge" [value]="utilizationPercent">
    <dxo-scale [startValue]="0" [endValue]="100" [tickInterval]="10">
      <dxo-label [useRangeColors]="true"></dxo-label>
    </dxo-scale>
    <dxo-range-container palette="pastel">
      <dxi-range [startValue]="0" [endValue]="90" color="#4FFF4F"></dxi-range>
      <dxi-range [startValue]="90" [endValue]="95" color="#FFC14F"></dxi-range>
      <dxi-range [startValue]="95" [endValue]="100" color="#FF3B3B"></dxi-range>
    </dxo-range-container>
    <dxo-title text="Utilization {{utilizationPercent}}%">
      <dxo-font [size]="28"></dxo-font>
    </dxo-title>
  </dx-circular-gauge>

</div>
<div>
  <label>O-Clouds</label>
  <span>{{systemSummary.ocloudCount}}</span>
</div>
<div>
  <label>Network Functions</label>
  <span>{{systemSummary.nfCount}}</span>
</div>
<div>
  <label>Resource Utilization</label>
  <span>CPU {{systemSummary.cpuUtilized}}</span>
  <span>Interface {{systemSummary.interfaceUtilized}}</span>
</div>

<div>
  <label>O-Cloup List</label>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>DMS counts</th>
        <th>NF counts</th>
        <th>Fault counts</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let opt of ocloudSummary">
        <td>{{opt.name}}</td>
        <td>{{opt.dmsCount}}</td>
        <td>{{opt.nfCount}}</td>
        <td>{{opt.faultCount}}</td>
        <td (click)="veiw(opt)">放大鏡</td>
      </tr>
  </tbody>
  </table>
</div>


